@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.font-orbitron {
  font-family: 'Press Start 2P', cursive;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  background: linear-gradient(to right, #4f46e5, #818cf8);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}